.division_left
{
	display: block;
	float: left;
	width: 25%;
}

.division_right
{
	display: block;
	float: right;
	width: 75%;
}

.page_title a:link
{
	
	text-decoration: none;
}

.title
{
	font: normal bold 20px "맑은고딕";
	color: #6D6B6B;
	display: flex;
	justify-content: flex-start
}

.links
{
	font: normal normal 10px "맑은고딕";
	display: flex;
	text-align: left;
	
	justify-content: flex-end;
}

.Option
{
	background-color: #F8F8F8;
	border: 2px solid #CCCCCC;
	border-left: none;
	border-right: none;
	text-align: center;
	padding: 10px 0px;
	font: normal normal 12px "맑은고딕";
}

#notice
{
	font: normal normal 12px "맑은고딕";
	margin: 15px 20px 0px 0px;
}

.course_table
{
	
}

.course_table table
{
	text-align: center;
	font: normal normal 12px "맑은고딕";
	border-collapse: collapse;
	width: 100%;

	
}

.course_table th
{
	text-align: center;
	font: normal normal 12px "맑은고딕";
	color: #FFFFFF;
	background-color: #6D6B6B;
	padding: 5px 0px;
}

.course_name
{
	text-align: left;
	padding-left: 2%;
	width: 25%;
}
