@charset "utf-8";

* {
    margin:0;
    padding:0;
    /*font-family:Dotum,Dotumche,verdana; "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif;*/
}
/*
::selection {
    background: #b93332;
    color: #fff;
}
::-moz-selection {
    background: #b93332;
    color: #fff;
}
*/
body {
    position:relative;
    font-size:0.75em;
    line-height:17px;
    color:#666;
    background:#ededed url('/ilos/images/index/bg_warp.gif') repeat-x 0 top;
    font-family:dotum, arial, sans-serif;
}
/*
a {
	color:#666;
	text-decoration:none;
}

a:active, a:hover, a:focus {
	color:#16578F;
	font-weight:bold;
	letter-spacing:-1px;
	text-decoration:none;
}
*/
fieldset, form, label, address, abbr, div, blockquote, p, span, em, dl, dt, dd, ul, ol, li, button, img {
    list-style:none;
    border:none;
    font-style:normal;
}

input, select, textarea, label {
    font-size:100%;
    vertical-align:middle;
}

table, th, td {
    border:0;
    border-spacing:0;
    *border-collapse:collapse;
}

legend, caption {
    visibility:hidden;
    height:0;
    font-size:0;
    line-height:0;
    text-indent:-5000px;
}

hr {
    display:none;
}

ul.ufl li {
    float:left;
}

.normal {
    font-weight:normal;
    color:#666;
}

.vt {
    vertical-align:top !important;
}

.mt0 {
    margin-top:0px !important;
}

.mt10 {
    margin-top:10px !important;
}

.mt20 {
    margin-top:20px !important;
}

.mt30 {
    margin-top:30px !important;
}

.mt40 {
    margin-top:40px !important;
}

.ml18_ {
    margin-left:5px !important;
}

.ml12 {
    margin-left:12px !important;
}

.ml18 {
    margin-left:18px !important;
}

.mb90 {
    margin-bottom:90px !important;
}

*html .mb90 {
    margin-bottom:0 !important;
}

.pl04 {
    padding-left:4px !important;
}

#sortable_block { height : 25px; }