.vertical_menu_outside
{
	width: 138px;
	border: 4px solid #CCCCCC;
	border-radius: 10px;
}

.vertical_menu
{
	width: 130px; /*width of menu*/
	border: 4px solid #FFFFFF;
	border-radius: 10px;
	background-color: #F1F0F0;	/*light grey*/
}

.vertical_menu_title
{
	text-align: center;
	margin: 10px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
	color: #3C878C;	/*green*/
	font: normal bold 18px "맑은고딕";
}

.vertical_menu ul
{
	list-style: none;
	text-align: left;
	padding: 0px 5px;
}
	
.vertical_menu li a
{
	font: normal normal 12px "맑은고딕";
	display: block;
	color: black;
	height: 24px;
	margin: 2px;
	text-decoration: none;
}	

.vertical_menu li a:hover
{
	background-color: #3C878C;
	color: #FFFFFF;
}

	
.vertical_menu li a.selected
{
	background-color: #3C878C;
	color: #FFFFFF;
}



